* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

body {
    background-image: url(./background.gif);
    background-size: cover;
}

h3 {
  color: aliceblue;
}

main {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    height: 100vh;
    padding: 25px;
}

.lesson {
    margin: 30px auto;
    width: 95%;
    background-image: url(./lbg.gif);
    background-size: contain;
    padding: 10px;
    text-align: left;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: .2;
}

.lesson:hover {
  opacity: 1;
}

.road {
    text-decoration: none;
    color: red;
    display: block;
    text-align: right;
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    overflow: auto;
    opacity: .3;
  }
  
  ul li:hover {
    transform: translateY(-2px);
    color: aliceblue;
    opacity: 1;
  }
  
  .done {
    background-color: rgb(6, 250, 6);
    opacity: 1;
  }

  .in_progress {
    background-color: rgb(6, 234, 250);
    opacity: 1;
  }