* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
    font-size: 25px;
}

body {
    background-image: url(./background.gif);
    background-size: cover;
}

main {
    width: 100%;
    text-align: center;
    border-radius: 15px;
    height: 100vh;
    padding: 25px;
}

.lesson {
    margin: 30px auto;
    width: 95%;
    background-color: rgb(242, 243, 252);
    padding: 10px;
    text-align: left;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: .3;
    overflow: auto;
}

.lesson:hover {
    opacity: 1;
}

.road {
    text-decoration: none;
    color: red;
    display: block;
    text-align: right;
    padding: 5px;
}

img {
    display: block;
    width: 80%;
    transition: .5;
}

img:hover {
    width: 100%;
}

@media (max-width: 768px) {
    img {
        display: block;
        width: 250px;
        transition: .5;
    }
}