* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

body {
    background-image: linear-gradient( 89.4deg,  rgba(194,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );
    }

.tutorial_wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20vh;
    flex-wrap: wrap;
}

.tutorial {
    height: 100px;
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: .5s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
    color: #fff;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tutorial:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.1);
}

.called_tutorial {
    margin: 50px auto;
    width: 90%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 25px;
    background-color: rgb(231, 231, 240);
}

.called_tutorial > div {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: .5s;
    padding: 20px;
}

.called_tutorial > div:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

pre {
    margin-top: 10px;
    font-family: monospace;
    padding: 25px;
    border-radius: 15px;
    background: rgb(61, 60, 60);
    color: rgb(216, 255, 60);
    font-size: 17px;
    overflow: auto;
}

#the_task {
    height: 250px;
    width: 500px;
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
    color: #fff;
    position: absolute;
    left: 33%;
    top: -250px;
    border-radius: 25px;
    transition: .5s;
    padding: 40px;
    text-align: center;
    overflow: hidden;
    z-index: 99999;
    
}

.task_title {
    font-size: 30px;
    font-weight: bold;
}

.task_description {
    display: inline-block;
    margin-top: 30px;
}

.small {
    font-size: 10px;
}

pre::-webkit-scrollbar {
	width: 2px;
	background-color: #8a8585;
}

pre::-webkit-scrollbar-thumb {
	background-color: #3125259b;
    border-radius: 5px;
}

.checkpoint {
    background-color: #8beb7e;
}